<ul>
<% apages = Page.where(:parent_id => nil) %>
            <% apages.each do |apage| %>
  <li id="Parent1"><a><%= apage.name %></a>
    <ul>
          
            <% @parent = apage.id %>
       <% end %>
            <%= render :partial => "pages/subpage", :object => @parent %> 
    </ul>
  </li>
</ul>
          